log/*.log
log/*.out
log/*.pid
tmp/**/*
.DS_Store
db/schema.rb
db/schema.sql
db/*.sqlite3*
config/database.yml
config/database.locaweb.yml
public/photos/*
public/upload/*
public/assets/*
.project
.#*
tmp/.*
\#*
*~
vendor/**/**/doc/*
rsa_key*
coverage/
coverage